.parallax {
  /* The image used */
  background-image: url("../images/header.jpeg");

  /* Set a specific height */
  height: 700px;
  /* transform: translateZ(10px) scale(1.1); */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
